SECRET_KEY = your_secret_key
STRIPE_SECRET_KEY = your_secret_apikey
DEBUG = True
NAME = your_db_name
USER = your_db_user_name
PASSWORD = your_db_user_password
HOST = localhost
PORT = 5432
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.yandex.ru'
EMAIL_PORT = 465
EMAIL_USE_TLS = False
EMAIL_USE_SSL = True
EMAIL_HOST_USER = 'your_email@yandex.ru'
CSRF_TRUSTED_ORIGINS =
CORS_ALLOWED_ORIGINS =
CORS_ALLOW_ALL_ORIGINS =
CORS_ALLOW_CREDENTIALS =
STRIPE_API_KEY=


